.main {
  position: absolute;
  inset: 0;
  align-items: center;
  min-height: 100vh;

}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: var(--font-sans-serif);
}

.gray3 {
  background-color: var(--gray3);
}

.widget {
  width: 300px;
  background-color: white;
  box-shadow: var(--box-shadow-green);
  border-radius: 16px;
  padding: 16px;
}

.cardTitle {
  font-weight: 700;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 17px;
  margin-bottom: 16px;
}

.guestbox {
  background-color: var(--gray3);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.guestbox span {
  font-weight: 900;
  font-size: 11px;
  color: var(--gray10);
}

.smallfont {
  font-weight: 900;
  font-size: 11px;
  color: var(--gray10)
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photobox {
  display: flex;
  gap: 4px;
}

.spacing {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  background-color: var(--gray6);
  border: none;
  cursor: pointer;
}

.plus:hover {
  background-color: var(--gray7);
}

.plus:active {
  background-color: var(--gray8)
}



.hover {
  padding: 8px;
  border-radius: 6px;
  flex: 1
}

.hover:hover {
  background-color: #D5EAFF;
}

.dates {
  display: flex;
  gap: 4px;
}

.datebox {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  flex: 1;
}

.subheading { 
  font-weight: 900;
  font-size: 11px;
  color: var(--gray10);
}

.mb-10 {
  margin-bottom: 10px;
}

.w500 {
  font-weight: 500;
}

.datetime {
  font-weight: 500;
}

.date {
  font-weight: 500;
  font-size: 11px;
  color: var(--gray11);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.colorbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.grow:hover {
  transform: scale(1.2);
}

.travel {
  display: flex;
  justify-content: space-between;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: var(--gray5);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 8px;
}

.slider:hover {
  opacity: 1
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--gray9);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--gray9);
  border-radius: 50%;
  cursor: pointer;
}

.gobtn {
 width: 59px;
 height: 59px;
 cursor: pointer;
 border-radius: 8px;
 border: none;
 background: #00c952;
 color: var(--gray2);
 font-family: var(--font-sans-serif);
 font-weight: 500;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.input {
  padding: 2px 0;
  font-family: var(--font-sans-serif);
  border-radius: none;
  background-color: var(--gray3);
  border: none;
  font-weight: 500;
}

.nowrap {
  overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.nowrap:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  top: 0;
  bottom   : 0;
  right   : 0;
  pointer-events   : none;  
  /* background-image : linear-gradient(to right, 
                    rgba(255,255,255, 0), 
                    var(--gray3)); */
  width    : 20%;
}

.location {
  padding: 2px 0;
  font-family: var(--font-sans-serif);
}

.input:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.animate {
  animation: enter 1s both;
  animation-delay: var(--delay);
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-10px);
    
  } to {
    opacity: 1;
    transform: none;
  }
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
